<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614765014754-vggaq1tcbh3g22u7tv559o49bckhr0q2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614765014754-vggaq1tcbh3g22u7tv559o49bckhr0q2</string>
	<key>API_KEY</key>
	<string>AIzaSyDKB03i1ssWtffyK18McDTJvYNF3_GFXh0</string>
	<key>GCM_SENDER_ID</key>
	<string>614765014754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daisukekawamura.Practice-FirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>practice-firebaselogin</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-firebaselogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614765014754:ios:9c8d5c3d40e8ae7c6638bb</string>
</dict>
</plist>